.bloco1, .bloco2{padding: 8px;}

.bloco1 {background-color: #006DD9; margin-left: -20px;}
.bloco2 {background-color: #FF7F00;}


.bloco3 {background-color: #006DD9; margin-left: -20px;}
.bloco4 {background-color: #FF7F00;}


